{% extends "templates/base_page.html" %} {% block content %}
<link rel="stylesheet" href="/static/css/item.css" />
<script src="/static/js/item.js"></script>
<div class="item-info-page">
	<div class="item-title-container">
		<input id="item-title" placeholder="Title Here">
	</div>
	<div class="item-info-container">
		<div class="item-image-container">
			<img
				src="/static/images/question.jpeg"
				alt="" />
			<input type="file" id="item-image"/>
		</div>
		<div class="item-info-right-container">
			<select id="item-purpose">
				<option value="exchange">Exchange</option>
				<option value="lend">Lend</option>
				<option value="gift">Free Gift</option>
			</select>
			<div class="label-input">
				<div for="">Owner</div>
				<input type="text" id="item-owner" disabled/>
			</div>
			<div class="label-input">
				<div for="">Category</div>
				<input type="text" id="item-category" />
			</div>
			<div class="description-container">
				<textarea placeholder="Item Description" id="item-description"></textarea>
			</div>
		</div>
	</div>
	<div class="item-comment-action-container">
		<div class="item-comment-container">
		</div>
		<div class="item-action-container">
			<button id="item-action-btn">Submit</button>
			<button id="item-delete-btn" disabled>Delete</button>
		</div>
	</div>

</div>
<div id="center-point">
	<div id="comment-dialog">
		<h2 id="comment-title">Add a comment</h2>
		<textarea id="comment" placeholder="comment"></textarea>
		<div class="comment-btn-container">
			<button id="comment-submit-btn">Submit</button>
			<button id="comment-cancel-btn">Cancel</button>
		</div>
	</div>
</div>
{% endblock %}
