{% extends "templates/base_page.html" %} {% block content %}
  <link rel="stylesheet" href="/static/css/main_page.css"/>
  <script src="/static/js/item-list.js"></script>
  <div class="main-page-body">
    <h1>Exchange@Rose</h1>
    <div class="filter-options">
      <div class="filter-left">
        <span id="search-text"></span>
        <input type="text" id="input-search-text"/>
        <br>
        <label>All: </label>
        <input type="radio" name="purpose" value="all" checked/>
        <label>Exchange: </label>
        <input type="radio" name="purpose" value="exchange"/>
        <label>Lend: </label>
        <input type="radio" name="purpose" value="lend"/>
        <label>Gift: </label>
        <input type="radio" name="purpose" value="gift"/>

      </div>

    </div>
    <div class="item-list">
    </div>
  </div>
{% endblock %}
