{% extends "templates/base_page.html" %} {% block content %}
  <div class="main-page-body">
    <h1>Exchange@Rose</h1>
    <div class="filter-options">
      <div class="filter-left">
        <label for="search-text">Icon</label>
        <input type="text"/>
        <br>
        <label>Exchange: </label>
        <input type="radio" name="purpose"/>
        <label>Lend: </label>
        <input type="radio" name="purpose"/>
        <label>Gift: </label>
        <input type="radio" name="purpose"/>
      </div>
      <div class="filter-right">
        <select class="order-by-dropdown">
          <option value="time">By Time</option>
          <option value="name">By Name</option>
        </select>
      </div>
    </div>
    <div class="item-list">
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img src="http://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg"/>
        </div>
        <div class="item-info-container">
          <h2 class="title">
            Little Animal
          </h2>
          <div class="item-category">
            <label>Category: </label>
            <span>animal</span>
          </div>
          <div class="item-purpose">
            <label>For: </label>
            <span>exchange</span>
          </div>
          <div class="item-description">
            <p>yi zhi ke ai de xiao dong wu </p>
          </div>
        </div>
        <div class="owner-info">
          <span class="owner-name">
            Tianjiao Mo
          </span>
          <span class="owner-email">
            mot@rose-hulman.edu
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
