{% extends "templates/base_page.html" %} {% block content %}
  <link rel="stylesheet" href="/static/css/profile.css"/>
<script src="/static/js/profile.js"></script>

    <div class="profile-page">
    <div class="personal-info-container">
      <div class="image-name-container">
        <img src="/static/images/question.jpeg" alt="" />
        <input type="file" id="profile-image">
        <input type="text" placeholder="Full Name" id="full-name"/>
      </div>
      <div class="personal-info-right-container">
        <div class="label-input">
          <div for="">Username</div>
          <input type="text" id="username" disabled/>
        </div>
        <div class="label-input">
          <div for="">Contact</div>
          <input type="text" id="contact"/>
        </div>
        <div class="label-input">
          <div for="">Address</div>
          <input type="text" id="address"/>
        </div>
        <div class="label-input">
          <div for="">Last Online</div>
          <input type="text" id="last-logged-in" disabled/>
        </div>
      </div>
    </div>
    <div class="description-container">
      <textarea placeholder="Any description" id="user-description"></textarea>
    </div>
    <div class="btn-container">
    	{% if user_email and route == "/profile/edit" %}
    		<button type="button" id="create-new-item">
      	 		<a href="/item/insertPage"><span>Post New Item</span></a>
      	 	</button>
      	 {% endif %}
    
    	<button class="action-btn">Update</button>
    </div>	
    </div>
    
    

{% endblock %}